---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: 'Contact',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText tagline="Contact | 連絡" title="Just contact us!" />
  <HeroText title="気軽にお問い合わせくださいませ〜" />

  <!-- Features2 Widget ************** -->

  <Features2
    title="We are here to help!"
    title="お手伝いいたします！"
    items={[
      {
        title: 'Twitter',
        description: <a href="https://twitter.com/handai_libra" target="_blank">@handai_libra</a>,
        icon: 'tabler:brand-twitter',
      },
      {
        title: 'Email',
        description: 'libratoiawase@gmail.com',
        icon: 'tabler:mail',
      },
      {
        title: 'Location',
        description: 'Center for the Study of Co*Design, Toyonaka Campus, The University of Osaka',
        icon: 'tabler:map-pin',
      },
    ]}
  />
</Layout>
