---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Libra - LGBTQ+ Community of the University of Osaka',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      { text: 'Learn more', href: 'contact' },
    ]}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight">The LGBTQ+ Community<br>of the University of Osaka</span>
    </Fragment>

    <Fragment slot="subtitle">
      Those who have concerns about their sexuality<br>
      Those who want to gain knowledge about sexuality<br>
      Those who want to have friends to talk casually about their sexuality without worrying about their own sexuality<br>
      Please feel free to contact us.
    </Fragment>
  </Hero>

</Layout>
