---
import { SITE } from 'astrowind:config';
import favIcon from '~/assets/favicons/favicon.ico';
import favIconSvg from '~/assets/favicons/favicon.svg';
import appleTouchIcon from '~/assets/favicons/apple-touch-icon.png';
---

<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
  <img src={appleTouchIcon.src} alt="Libra Icon" class="inline-block w-6 h-6 mr-2" /> {SITE?.name}
</span>